/* Custom fonts */
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

/* Default css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 0;
}

/* Navbar */
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  transition: 0.3s ease-in-out;
  
}

nav.navbar.scrolled {
  padding: 0;
  background-color: #121212;
}

nav.navbar a.navbar-brand {
  color: #fff;
  font-size: 2.3rem;
  font-family: none;
  font-weight: 800;
}

nav.navbar a.navbar-brand img {
  width: 6rem;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav .active.nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 1;

}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link:active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
  justify-content:center;
}
.navbar-text .social-icon~a{
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  /* padding: 18px 34px; */
  padding: 9px 17px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.navbar-text .social-icon~a::before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text .social-icon~a:hover {
  color: #121212;
}

.navbar-text .social-icon~a:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
}


.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50px;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover:before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(90%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  /* padding: 18px 34px; */
  padding: 9px 17px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width:768px) {
nav.navbar {
  backdrop-filter: blur(9px);
  }
  .navbar-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

}

.navbar-text button:hover {
  color: #121212;
}

.navbar-text button:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler-icon:active,
nav.navbar .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon::after,
nav.navbar .navbar-toggler-icon::before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon::after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expand='true'] .navbar-toggler-icon::after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expand='true'] .navbar-toggler-icon::before {
  transform: rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expand='true'] .navbar-toggler-icon {
  border: transparent;
}

/* Banner */
.banner {
  margin: 0;
  background-image: url('./assets/img/banner-bg.png');
  padding: 120px 0 50px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  font-size: 20px;
  margin-bottom: 15px;
  width: 100%;
}

.banner h1 {
  font-size: 65px;
  /* font-weight: 700; */
  font-family: ui-monospace;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5rem;
  width: 96%;
}

.banner img#main {
  animation: updown 3s linear infinite;
  width: 70%;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.banner .wrap {
  border-right: 5px solid #fff;
}

/* Skills */
.skill-box {
 
  display: flex;
  flex-wrap: wrap;
  /* background-color: #282c34; */
  backdrop-filter: blur(20px);
  justify-content: center;
  margin: 5rem 1rem;
  border-radius: 13px;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.skill-box h2 {
  font-size: 40px;
  font-family: emoji;
  font-weight: 500;
}

.skill-box .items{
  margin:3rem 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap:1rem;
 
}
.skill-box .items .item{
  margin:1rem;
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 1px 0px 10px 2px white;
}
.skill-box .items .item:hover {
 background-color: white;
 
}
.skill-box .items .item img{
  /* box-shadow: 1px 1px 1px 1px #fff;
  border-radius: 30%; */
  object-fit: contain;
}

/* Project */
.project-box{
  /* margin: 10rem 0; */
  /* background:   linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); */
}
.project-box h2{ 
    
    font-size: 40px;
    font-family: emoji;
    font-weight: 500;
}

.project-box h2~p{ 
  letter-spacing: 1px;
}
.project-box .project-card{
  display: flex;
  justify-content: space-evenly;
  margin: 5rem auto;
  /* background-color: lightslategrey; */
  background:   linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  width: 70%;
  padding-top: 18px;
  border-radius:10px;
  box-shadow: 0px 0px 8px 2px;
  
}







@media screen and (max-width:768px) {
  .project-box .project-card{
    width: 90%;
  }
}
.project-card img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit:contain
}
.project-box .project-card .project-description h3{
  border-bottom: 1px solid white;
}

.project-box .project-card .project-description p{
  font-size: 1em;
  text-align: initial;
  font-weight: 300;
  /* font-family: auto; */
  letter-spacing: 1px;
}


/* Contact */
.contact {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 60px 0 0px 0;
}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}
.contact .resume-container{
  background-color: #fff;
  border-radius: 2rem;
  padding: 1rem;
  margin: 0 1rem;
  transform: translateY(calc(50% - 0.1rem));
}
.contact .resume-container h2{
  color: black;
  font-size: 2rem;
}
.contact .resume-container a{
  background: linear-gradient(to right,#aa367c -5.91%,#4a2fbd 111.58%);
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  width: max-content;
  margin-inline: auto;
  text-decoration: none;
  transition: scale .3s;
  color: #fff;
}
.contact .resume-container a:hover{
 scale: 1.2;
}
footer{
  
  padding:2rem 1rem 2rem;
  background-image: url('../src/assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
footer img{
  width: 6rem;
}
footer .footer-container{
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center
}
footer .footer-container p{
  margin: 0;
}
@media screen and (max-width:768px) {
  footer .footer-container p{
    display: none;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}